<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <app-app-sidenav-list></app-app-sidenav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Bling</div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
      <app-result></app-result>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>