<!-- Binary -->
<a mat-list-item routerLink="/b2d">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Binary to Decimal</span>
</a>

<a mat-list-item routerLink="/b2o">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Binary to Octal</span>
</a>
<a mat-list-item routerLink="/b2h">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Binary to Hex</span>
</a>

<!-- Octal -->

<a mat-list-item routerLink="/o2b">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Octal to Binary</span>
</a>
<a mat-list-item routerLink="/o2d">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Octal to Decimal</span>
</a>
<a mat-list-item routerLink="/o2h">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Octal to Hex</span>
</a>

<!-- Decimal -->

<a mat-list-item routerLink="/d2b">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Decimal to Binary</span>
</a>
<a mat-list-item routerLink="/d2o">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Decimal to Octal</span>
</a>
<a mat-list-item routerLink="/d2h">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Decimal to Hex</span>
</a>


<!-- Hexadecimal -->


<a mat-list-item routerLink="/h2b">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Hex to Binary</span>
</a>

<a mat-list-item routerLink="/h2o">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Hex to Octal</span>
</a>
<a mat-list-item routerLink="/h2d">
    <mat-icon style="display: inline-block; padding: 6px;">visibility</mat-icon>
    <span>Hex to Decimal</span>
</a>
